# regular expressions      => REGEX
*  import re module

In [2]:
import re
t = "i love python programming "
pattern = r"python"
re.findall(pattern, t)

['python']

In [3]:
contact_numbers = """
1. 555-123-4567
2. Phone: 555-987-6543
3. Contact us at 555-876-5432
4. 555-234-5678 ext. 123
5. Office: 555-345-6789
6. 555-456-7890 (mobile)
7. Call me: 555-567-8901"""

In [4]:
pattern = r"\d{3}-\d{3}-\d{3}"
re.findall(pattern, contact_numbers)

['555-123-456',
 '555-987-654',
 '555-876-543',
 '555-234-567',
 '555-345-678',
 '555-456-789',
 '555-567-890']

In [5]:
mob_numbers = """
1. Mobile: 1234-567890
2. Call me at 9876-543210
3. Mobile: 8765-432109
4. My number is 2345-678901
5. 3456-789012 is my mobile number
6. Contact me: 4567-890123
7. 5678-901234 is my cell phone number
"""

In [6]:


pattern = r"\d{4}-\d{6}"
re.findall(pattern , mob_numbers)

['1234-567890',
 '9876-543210',
 '8765-432109',
 '2345-678901',
 '3456-789012',
 '4567-890123',
 '5678-901234']

In [7]:

emails = """1. Email: john.doe@example.com
2. Send an email to jane_doe1234@gmail.com
3. Contact us at info@example.org
4. My personal email is johndoe@example.net
5. Email me at mary123@yahoo.com
6. Please send an email to support@example.com
7. Our email address is info@company.com
1. Email: john.smith123@example.com
2. Contact us at support@company.co.uk
3. Please send an email to sales_info123@example.net
4. My personal email is mary.jane_2022@gmail.com
5. Email me at info@example.com
6. For inquiries, email us at contact@company.org
7. Our email address is feedback123@company.com"""

In [8]:
pattern = r"[\w\.-]+@[a-z]+\.[a-z]{2,}"      

regexemails = re.findall(pattern , emails)
regexemails

['john.doe@example.com',
 'jane_doe1234@gmail.com',
 'info@example.org',
 'johndoe@example.net',
 'mary123@yahoo.com',
 'support@example.com',
 'info@company.com',
 'john.smith123@example.com',
 'support@company.co',
 'sales_info123@example.net',
 'mary.jane_2022@gmail.com',
 'info@example.com',
 'contact@company.org',
 'feedback123@company.com']

In [9]:
emailstld = """
1. john.doe@example.com
2. jane_doe1234@gmail.com
3. info@example.org
4. johndoe@example.net
5. mary123@yahoo.com
6. support@example.com
7. info@company.com
8. contact@organization.org
9. admin@example.net
10. sales@company.org
11. feedback@example.com
12. inquiries@organization.org
13. support@company.net
14. billing@example.com
15. marketing@organization.org"""

In [10]:
pattern = r'[\w.-]+@[a-z]+\.org'
regexemails = re.findall(pattern , emailstld)
regexemails

['info@example.org',
 'contact@organization.org',
 'sales@company.org',
 'inquiries@organization.org',
 'marketing@organization.org']

In [11]:
dates ="""1. Today is 02/13/2024.
2. The event is scheduled for 2024-02-14.
3. The deadline for submissions is 15-February-2024.
4. Our anniversary is on 2024/02/16.
5. Please mark your calendars: 02-17-2024.
6. The meeting is on March 18th, 2024.
7. The conference starts on 2024/03/19 and ends on 03/21/2024.
8. Don't forget about the appointment on April 22, 2024.
9. The training session is scheduled for 04/23/2024.
10. Remember to submit the report by May 24, 2024."""

In [12]:
patterns =r'\b\d{4}-\d{2}-\d{2}|\d{2}/\d{2}/\d{4}|[A-Z][a-z]+\s+\d{1,2}th,\s+\d{4}'
datesregex = re.findall(patterns , dates)

In [13]:
datesregex

['02/13/2024', '2024-02-14', 'March 18th, 2024', '03/21/2024', '04/23/2024']

In [14]:
date = """Today is 02/13/2024
The event is scheduled for 2024-02-14
The deadline for submissions is 15-February-2024
"Our anniversary is on 2024/02/16."
"Please mark your calendars: 02-17-2024."
"The meeting is on March 18th, 2024."
"The conference starts on 2024/03/19 and ends on 03/21/2024."
"Don't forget about the appointment on April 22, 2024."
"The training session is scheduled for 04/23/2024."
"Remember to submit the report by May 24, 2024."""

In [15]:
pattern = r'\d{2}/\d{2}/\d{4}|\d{4}-\d{2}-\d{2}|\d-[A-Z][a-z]+-\d{4}'
dateregex = re.findall(pattern , date)
dateregex

['02/13/2024', '2024-02-14', '5-February-2024', '03/21/2024', '04/23/2024']

# import dataset

In [16]:
import pandas as pd

In [17]:
data_df = pd.read_csv("works.csv")

In [18]:
data_df

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [19]:
data_df["Date"]

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16720    1968-1969
16721         1975
16722         1922
16723         1931
16724         2011
Name: Date, Length: 16725, dtype: object

In [20]:
data_df

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [21]:

date = """0              [1986]
1        ibuxbvdyucgw      [1978]
2      8dsbt  [1889-1911]
3      8bd  [1927-1940]
4         c'    [1903]
             ...     
16720    [1968-1969]
16721      +    [1975]
16722       ou=   [1922]
16723         &r [1931]"""

In [22]:
date = date.extract(r'\b\d{4}-\d{4}\b|\b\d{4}\b')

AttributeError: 'str' object has no attribute 'extract'

In [23]:
pattern = r'\b\d{4}-\d{4}\b|\b\d{4}\b'           # if it has range of years first find that or just year
dateregex= re.findall(pattern, date)

In [24]:
dateregex

['1986',
 '1978',
 '1889-1911',
 '1927-1940',
 '1903',
 '1968-1969',
 '1975',
 '1922',
 '1931']

In [139]:
dir( str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [140]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [173]:
dir(data_df["Date"].str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']

In [177]:
data_df["Date"] = data_df["Date"].str.extract(r'(\b\d{4}-\d{4}\b|\b\d{4})')

In [178]:
data_df

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books